<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/" lang="en">

<head>
    <title>Event Calendar</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/4ceeba9e7c.js"></script>
</head>

<body>
    <div id="app" class="container">
        <header class="d-flex justify-content-between align-items-center px-3 py-4" v-cloak>
            <transition name="slide-fade">
                <h2 v-if="show"><span class="font-weight-bold">{{ dateObject.month }}</span> {{ dateObject.year }}</h2>
            </transition>
            <div class="select-date d-flex content-justify-between align-items-center">
                <button class="add-event btn btn-light border rounded p-0 m-0 mr-1"><i class="fa fa-plus"
                        aria-hidden="true" data-target="#myModal" data-toggle="modal"></i>
                </button>
                <select class="mr-1 text-center rounded" v-model="dateObject.month" @change="updateMonth">
                    <option v-for="month in months" :value="month">{{ month }}</option>
                </select>
                <select name="year" value="2020" class="rounded " v-model="dateObject.year" @change="updateYear">
                    <option v-for="year in years" :value="year">{{ year }}</option>
                </select>
            </div>
        </header>

        <div class="calendar">
            <div class="calendar">
                <div class="days">
                    <div class="card day" v-for="dayName in daysNames"> {{ dayName }}</div>
                </div>
                <transition name="slide-fade">
                    <div v-if="show" class="days">
                        <date :i='i' :eventindex=getEventIndex(i)
                            :data-target="(i > dateObject.firstDayOfMonth && i <= dateObject.lastDateOfMonth + dateObject.firstDayOfMonth)?'#myModal':''"
                            data-toggle="modal" :data-title=getEventTitle(i) :data-date=getEventDate(i)
                            :data-time=getEventTime(i) :key="componentKey + i"
                            v-for='i in calcNumOfSquares( dateObject.lastDateOfMonth + dateObject.firstDayOfMonth > 35)'>
                        </date>
                    </div>
                </transition>
            </div>
        </div>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="event" class="col-form-label">Event</label>
                                <input type="text" class="title form-control" id="eventTitle">
                            </div>
                            <div class="date-time form-group">
                                <label for="date" class="col-form-label">Date</label>
                                <input type="date" class="date form-control" id="eventDate">
                                <input type="time" class="time form-control" id="eventTime">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Description</label>
                                <textarea class="form-control" id="eventDesc"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer d-flex justify-content-between px-5">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="add-update btn btn-primary" @click="addEvent()"
                            data-dismiss="modal"></button>
                        <div class="col-12 mt-3 text-center px-0">
                            <button type="button" class="delete btn btn-light text-danger" @click="delEvent()"
                                data-dismiss="modal">Delete event</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script rel="script" src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script rel="script" src="modal.js"></script>
</body>

</html>